:root {
  --color-primary-accent: #2614c7;
  --color-primary: #000;
  --color-button: #3d486c;
  --color-paragraph: #797979;
  --color-button-text: #ffffff;
  --color-background: #ffffff;
  --color-anchor: #000aff;
}

[data-theme='dark'] {
  --color-primary-accent: #00ff4c;
  --color-primary: #fff;
  --color-button: #00ff4c;
  --color-paragraph: #8a8a8a;
  --color-button-text: #000000;
  --color-background: #22212b;
  --color-anchor: #00ff4c;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 16px;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}
